@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('assets/font/IBMPlexMono-Regular.ttf');

}

@font-face {
  font-family: 'IBM Plex Mono Bold';
  src: url('assets/font/IBMPlexMono-Bold.ttf');

}

@font-face {
  font-family: 'Audiowide';
  src: url('assets/font/Audiowide-Regular.ttf');

}

@font-face {
  font-family: 'Inter';
  src: url('assets/font/Inter-VariableFont_slnt\,wght.ttf');

}

.text-white {
  color: white;
}
.text-gray {
  color: #C5C5C5;
}
.ft-s-10 {
  font-size: 10px;
}
.ft-s-12 {
  font-size: 12px;
}
.ft-s-14 {
  font-size: 14px;
}
.ft-s-16 {
  font-size: 16px;
}
.ft-s-24 {
  font-size: 24px;
}
.fw-700 {
  font-weight: 700;
}
.flex {
  display: flex;
}
.mt-5 {
  margin-top: 5px;
}
.mt-8 {
  margin-top: 8px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-15 {
  margin-right: 15px;
}
.p-54 {
  padding: 54px;
}
.p-8 {
  padding: 8px;
}
.pt-4 {
  padding-top: 4px;
}
.pl-4 {
  padding-left: 4px;
}
.pb-20 {
  padding-bottom: 20px;
}
.bg-grey {
  background-color: grey;
}
.bg-white {
  background-color: white;
}
.general-border {
  border: .5px solid #FFFFFF;
  border-radius: 4px;
}
.border-t {
  border-top: .5px solid #FFFFFF;
}
.border-b {
  border-bottom: .5px solid #FFFFFF;
}
.pointer {
  cursor: pointer;
}
