.card-container {
    .card-padding {
        padding: 54px 74px;
    }
    .sub-header {
        grid-template-columns: 1fr 1fr;
    }
    .inside {
        position: relative;
        height: 336px;
        width: 336px;
        .basic-info {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 230px;
            height: 135px;
            padding: 12px 35px 12px 8px;
        }
        .intro {
            line-height: 1.2;
        }
        .addr {
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            word-break: keep-all;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .location {
            position: absolute;
            left: 240px;
            top: 0;
            width: 95px;
            height: 95px;
            padding: 16px 6px;
        }
        .skills {
            width: 198px;
            height: 130px;
            top: 140px;
            left: 0;
            position: absolute;
            padding: 8px;
            .skills-list {
                width: 100%;
                height: 90px;
                overflow-y: scroll;
                .list-item {
                    display: inline-block;
                    padding: 4px 8px;
                    color: black;
                }
            }
        }
        .avatar {
            position: absolute;
            right: 0;
            top: 103px;
            width: 130px;
            height: 233px;
            z-index: 0;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
        .contact {
            width: 198px;
            height: 61px;
            position: absolute;
            top: 275px;
            left: 0;
            padding: 18px 4px;
        }
    }
    .awsome-things {
        .awsome-things-title {
            padding: 4px 8px;
        }
        .circle-button {
            flex: 1;
            text-align: right;
        }
        .dao-list {
            height: 250px;
            overflow-y: scroll;
        }
        .position {
            align-items: center;
        }
    }
    .project-item {
        text-decoration: underline;
        display: inline-block;
    }
}
.c-icon {
    background-color: #C5EF83;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.popover {
    background-color: rgba(51, 51, 51, 0.85);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-radius: 4px;
    right: -40px;
    top: 30px;
    z-index: 4;
    .options {
        color: white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
        padding: 5px 33px;
        border-radius: 6px;
    }
    .options:hover {
        color: black;
        background: linear-gradient(92.5deg, #79D5A8 3.76%, #D5F97D 98.97%);
    }
  }
  .inside-container {
      height: 100%;
  }